DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cataloggy"
PORT=7000

API_TOKEN=dev-token
CATALOGGY_ALLOWED_ORIGINS=http://localhost:7002
TRAKT_CLIENT_ID=
TRAKT_CLIENT_SECRET=
TRAKT_ACCESS_TOKEN=
TRAKT_REFRESH_TOKEN=

TMDB_API_KEY=
